body {
	border: #525051;
	text-align: center;
}

header {
	border: #a1a1a1;
}

.content {
	width: 100%;
	height: 80%;
/*	overflow: hidden;*/
}

.widget {
	height: 100px;
	width: 100px;
	margin: 1.5%;
	border: #ffbe0e;
	display: inline-block;
}

.blue {
	border: #0e77be;
}

.gadget {
	border: #74a259;
	border-radius: 25px;
}

.round {
	border: black;
}

footer {
	border: #b5dc10;
}